@charset "utf-8";

.list-title {
  font-weight: 300 !important;
  font-size: 1em !important;
}
.content {
  word-break: break-all;
  font-size: 0.8em;
  max-width: 800px;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  min-height: 100%;
  color: #767676;
}
.icon-link {
  display: none !important;
}
@import 'variables.scss';
